
*{
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  position: relative;
  top: 50px;
  left: 50px;
  font-family: 'Noto Sans', sans-serif;
}

.pageContainer {
  /*border: 2px solid black;*/
  width: 90%;
  position: relative;
  box-shadow: 2px 2px 2px 2px black;
}
/*header*/
header {
  border: 2px solid black;
  border-radius: 4px;
  background-color: #4f5359;
}

h1 {
  font-size: 60px;
  display: inline-block;
  margin-left: 100px;
  color: #f5f5f5;
}

.v {
  color: #e84937;
}

nav {
  display: inline-block;
  float: right;
  margin-right: 30px;
  margin-top: 20px;

}

nav ul li {
  display: inline-block;
  font-size: 20px;
  padding: 3px;
  color: #fff;
  transition: 1s;
}

nav ul li:hover {
  background-color: white;
  color: #e84937;
  border-radius: 2px;
}
/*End of header*/

/*start of the add bar*/
.adBanner {
  border: 2px solid black;
  background-color: black;
  width: 100%;
}

#ad1 {
  border: 2px solid black;
  display: inline-block;
  width: 48%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#ad2 {
  border: 2px solid black;
  display: inline-block;
  width: 51.5%;
}
/*End of the ad bar*/

/*start of the main page display*/
#mainPageDisplay {
  border: 2px solid black;
  background-color:  #4f5359;
  display: none;
}

.jPlannerBtn {
  font-size: 30px;
  background-color: grey;
  border-radius: 4px;
  display: inline-block;
  margin: 20px 0 0 20px;
}

select {
  font-size: 30px;
  float: right;
  margin: 20px 40px 0 0;
}

h2 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 5px;
}

#yourLineNotices {
  border: 2px solid black;
  border-radius: 10px;
  height: 200px;
  width: 90%;
  margin-left: 40px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
}

/*End of main page display*/
#journeyPlanner {
  display: none;
  height: 1000px;
}

#journeyContainer {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #e84937;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  /*margin-bottom: 20px;*/
  padding: 20px;
  padding-bottom: 50px;
  height: 400px;
}

h3{
  color: white;
  font-size: 28px;
}

input {
  font-size: 20px;
  color: black;
}

.submitBtn {
  font-size: 20px;
  margin-left: 30%;
  background-color: black;
  color : white;
  font-family: 'Noto Sans', sans-serif;
}


/*end of Enter journeyPlanner page*/

/*start of show journey page*/
#showJounreyPage {
  display: none;
  height: 400px;
}

.JourneyBox {
  border: 2px solid black;
  height: 100px;
  margin-top: 20px;
}

h2 {
  padding-bottom: 20px;
}

/*end of show jounry page*/

/*start of contact page*/
#contactPage {
  display: block;
}
