

<form class="" action="/car_list" method="post">
  <h2>make</h2>
  <input type="text" name="make" value="">
  <h2>year</h2>
  <input type="text" name="year" value="">
  <h2>image</h2>
  <textarea name="image_url" rows="8" cols="80"></textarea>
  <button type="submit">Add</button>
</form>
