

<h1>TOP RESULTS</h1>

<ul>
  <% @search['Search'].each do |movie| %>
    <h1><%= movie['Title']%></h1>
    <a  href="/profile?title=<%= movie['Title']%>"><img src="<%= movie['Poster'] %>"></a>
  <% end %>
</ul>
